mat-card {
    background-color: var(--card-bg);
    color: var(--text-color);
    height: 40px;
    width: 150px;
    right: 0;
    top: 10px;
    margin-bottom: 20px;
}

.card-contenido {
    font-size: 1rem;
    align-items: center;
    margin: auto;
    display: flex;
    height: 100%;
}