mat-dialog-content {
    overflow: visible;
}

mat-form-field {
    width: 100%;
}

mat-dialog-buttons {
    position: absolute;
}

.close-button {
    top: 10px;
    right: 10px;
    background-color: brown;
    position: absolute;
}